<div class="hero-unit">
  <h1>Edycja danych użytkownika <%= @uzytkownik.uzytkownik %></h1>


  <%= form_for(:uzytkownik, :url => {:action =>'aktualizuj', :id=> @uzytkownik.id}) do |pole| %>

  <%= render(:partial => "form", :locals => {:pole => pole}) %>
  <div style="text-align: center;">
    <%= link_to("Anuluj", {:action=>'index'}, :class=>'btn btn-warning') %>
    <%= submit_tag "Aktualizuj", :class=>'btn btn-primary' %>
  </div>

  <% end %>

</div>


