<% if @kategoria.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@kategoria.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
    <% @kategoria.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<table class="table table-striped">
  <tr>
    <th><%= pole.label(:nazwa) %></th>
    <td><%= pole.text_field(:nazwa, :class=>'form-control') %></td>
  </tr>
  <tr>
    <th><%= pole.label(:pozycja) %></th>
    <td><%= pole.select(:pozycja, 1..@licznik, :class=>'form-control') %></td>
  </tr>
  <tr>
    <th><%= pole.label(:widoczna, "Czy jest wpidoczna?") %></th>
    <td><%= pole.check_box(:widoczna) %></td>
  </tr>
  <tr>
    <th><%= pole.label(:created_at, "Utorzona") %></th>
    <td><%= pole.datetime_select(:created_at, :class=>'form-control' ) %></td>
  </tr>
</table>
